.row {
  margin: 0 auto; // center block element inside a block element
  max-width: 114rem; // 1140px standard

  @include respond(tab-port) {
    max-width: 50rem;
    padding: 0 3rem;
  }

  &:not(:last-child) {
    // Everything BUT the last row
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }
  // All the child elements of this row element are floated, so the height collapses
  // and becomes 0 => include a clearfix function
  @include clearfix;
}

// Select all the class atributes starting w/ "col-"
[class^='col-'] {
  float: left;

  &:not(:last-child) {
    // Everything BUT the last col
    margin-right: $gutter-horizontal;

    // Stacked vertically
    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
      margin-right: 0;
    }
  }

  @include respond(tab-port) {
    width: 100% !important;
  }
}

.col-1-of-2 {
  // background: goldenrod;
  width: calc((100% - #{$gutter-horizontal}) / 2);
}

.col-1-of-3 {
  // background: thistle;
  width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
}

.col-2-of-3 {
  // background: burlywood;
  width: calc(
    2 * ((100% - 2 * #{$gutter-horizontal}) / 3) + #{$gutter-horizontal}
  );
}

.col-1-of-4 {
  // background: sandybrown;
  width: calc((100% - 3 * #{$gutter-horizontal}) / 4);
}

.col-2-of-4 {
  // background: khaki;
  width: calc(
    (2 * (100% - 3 * #{$gutter-horizontal}) / 4) + #{$gutter-horizontal}
  );
}

.col-3-of-4 {
  // background: lavender;
  width: calc(
    (3 * (100% - 3 * #{$gutter-horizontal}) / 4) + 2 * #{$gutter-horizontal}
  );
}
