.bg-video {
  height: 100%;
  left: 0;
  opacity: .15;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.bg-video__content {
  height: 100%;

  // Fill the entire parent while maintaining the aspect ratio
  object-fit: cover;
  width: 100%;
}
