.btn {
  border: none;
  border-radius: 10rem;
  display: inline-block; // inline-block is treated as text, so to center a btn parent elements txt-algn: center
  font-size: 1.6rem;
  padding: 1.5rem 4rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.btn--animated {
  // name, duration, timing-function, delay
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards; // Adapt the animation's 0% styles when the animation starts
  transition: all .2s;

  &:hover {
    box-shadow: 0 1rem 2rem rgba($black, .2);
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($black, .2);
    transform: translateY(2px);
  }

  // Pseudo element
  &::after {
    border-radius: 10rem;
    content: ''; // Must specify
    display: inline-block; // Must specify
    height: 100%;
    left: 0;
    position: absolute; // position reference to first relative position (.btn)
    top: 0;
    transition: all .5s;
    width: 100%;
    z-index: -1; // Hide to behind the button
  }

  &:hover::after {
    opacity: 0; // Fade out
    transform: scaleX(1.4) scaleY(1.6); // Grow up
  }
}

.btn--white {
  background-color: #fff;
  color: $dark-grey;

  &::after {
    background-color: #fff;
  }
}

.btn-text {
  padding: $spacing-s;

  &:link,
  &:visited {
    border-bottom: 1px solid $dark-green;
    color: $dark-green;
    display: inline-block;
    padding: 3px;
    text-decoration: none;
    transition: all .2s;
  }

  &:hover {
    background-color: $dark-green;
    box-shadow: 0 1rem 2rem rgba($green-shadow, .2);
    color: white;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($green-shadow, .2);
    transform: translateY(2px);
  }
}
