// FEATURES

.feature-card {
  background-color: rgba($light-grey-1, .8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($green-shadow, .15);
  font-size: 1.5rem;
  padding: $spacing-xs;
  text-align: center;
  transition: all .2s;

  &:hover {
    transform: translateY(-4px) scale(1.03);
  }
}

.feature-card__icon {
  -webkit-background-clip: text; // Clips the background to exactly the places where the text sits
  background-image: linear-gradient($light-green, $dark-green);
  color: transparent; // Change the text to transparent too
  font-size: 6rem;
  margin-bottom: .5rem;
}

// TOURS
// Functionality
.card {
  height: 50rem; // We have to specify height of the card and the side, or the height of the card will collapse
  perspective: 150rem; // How close or far the card turns, lower the value, the more dramatic
  position: relative;
  // Animate the side when hovering the card, takes care of a card stuttering
  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0deg);
  }
}

.card__side {
  backface-visibility: hidden; // Hide the back of the card
  border-radius: 3px; // + Overflow: hidden
  box-shadow: 0 1.5rem 4rem rgba(black, .15);
  height: 50rem; // We have to specify height of the card and the side, or the height of the card will collapse
  left: 0;
  overflow: hidden; // Hide the background images sharp corners
  position: absolute; // Put the front and the back cards on top of each other
  top: 0;
  transition: all .8s ease;
  width: 100%;
}

.card__side--front {
  background: white;
  position: relative;
}

.card__side--back {
  background-image: linear-gradient(
    to right bottom,
    $light-orange,
    $dark-orange
  );
  transform: rotateY(180deg);
}

// Front side styling
.card__picture {
  background-blend-mode: screen;
  background-size: cover; // Gradient over the background-image
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  height: 23rem;
}

.card__picture--orange {
  background-image: linear-gradient(
    to right bottom,
    $light-orange,
    $dark-orange
  ),
    url('/images/nat-5.jpg');
}

.card__heading {
  color: white;
  font-size: 2.8rem;
  font-weight: 300;
  position: absolute;
  right: 2rem;
  text-align: right;
  text-transform: uppercase;
  top: 12rem;
  width: 75%;
  z-index: 1;
}

.card__heading-background--orange {
  background-image: linear-gradient(
    to right bottom,
    rgba($light-orange, .8),
    rgba($dark-orange, .8)
  );
  box-decoration-break: clone; // Single element on 2 lines, padding looks like 2 elements
  // padding: 1rem 1.5rem;
}

.card__details {
  ul {
    list-style: none;
    margin: 0 auto;
    padding: 2rem;
    width: 80%;
  }

  li {
    font-size: 1.5rem;
    padding: 1rem 0;
    text-align: center;

    &:not(:last-child) {
      border-bottom: 1px solid $light-grey-2;
    }
  }
}

// Backside Styling

.card__price-box {
  color: white;
}

.card__price-only {
  font-size: $font-size-m;
  text-transform: uppercase;
}

.card__price-amount {
  font-size: $font-size-xxl;
  font-weight: 100;
}
