.section-features {
  background-image: linear-gradient(
    to right bottom,
    rgba($light-green, .8),
    rgba($dark-green, .8)
  ),
    url('/images/nat-4.jpg');
  background-position: top; // As we resize, the top part of the image sticks at the position
  background-size: cover; // Try to fit whatever the viewport size is
  padding: 20rem 0;
  transform: skewY(-7deg);

  // .section-features's direct child, all of them
  & > * {
    transform: skewY(7deg);
  }
}
