.navigation {
}

// The Checkbox Hack
.navigation__checkbox {
  display: none;

  // View or hide background on click
  &:checked ~ .navigation__background {
    transform: scale(80);
  }
  // View or hide menu on click
  &:checked ~ .navigation__nav {
    left: 0;
    opacity: 1;
  }

  // Cross icon when open, hamburger when closed
  &:checked + .navigation__button .navigation__icon {
    background-color: transparent; // Hides the middle line

    &::before {
      top: 0;
      transform: rotate(135deg); // 180 - 45deg
    }

    &::after {
      top: 0;
      transform: rotate(-135deg);
    }
  }
}

.navigation__button {
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 1rem 3rem rgba($green-shadow, .1);
  cursor: pointer;
  height: 7rem;
  position: fixed;
  right: 6rem;
  text-align: center; // Center the icon horizontally
  top: 6rem;
  width: 7rem;
  z-index: 3000;

  &:hover {
    .navigation__icon::before {
      top: -1rem;
    }

    .navigation__icon::after {
      top: 1rem;
    }
  }
}

// ICON
.navigation__icon {
  margin-top: 3.5rem;
  position: relative;

  &,
  &::before,
  &::after {
    background-color: $dark-grey;
    display: inline-block;
    height: 2px;
    width: 3rem;
  }

  &::before,
  &::after {
    content: '';
    left: 0;
    position: absolute;
    transition: all .2s;
  }

  &::before {
    top: -.8rem;
  }

  &::after {
    top: .8rem;
  }
}

.navigation__background {
  // radial-gradient starts from the middle of an element
  background-image: radial-gradient($light-green, $dark-green);
  border-radius: 50%;
  height: 6rem;
  position: fixed; // Doesn't change the position as we scroll the page
  right: 6.5rem;
  top: 6.5rem;
  transition: all .8s cubic-bezier(.86, 0, .07, 1);
  width: 6rem;
  z-index: 1000;
}

.navigation__nav {
  height: 100vh;
  left: -80vw;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: all .8s cubic-bezier(.5, -.3, .5, 1.3);
  width: 100%;
  z-index: 2000;
}

.navigation__list {
  @include center-horizontal-vertical;

  list-style: none;
  text-align: center;
}

.navigation__item {
  margin: 1rem;
}

.navigation__link {
  &:link,
  &:visited {
    background-image: linear-gradient(
      120deg,
      transparent 0%,
      transparent 50%,
      white 50%
    );
    background-size: 220%; // Push white background all the way to the right
    color: white;
    display: inline-block;
    font-size: $font-size-l;
    font-weight: 300;
    padding: 1rem 1.5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .4s;

    span {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &:hover,
  &:active {
    background-position: 100%; // Move the white background back to left
    color: $dark-green;
    transform: translateX(1rem);
  }
}
