@mixin clearfix {
  &::after {
    clear: both; // Clears both float left and right
    content: '';
    display: table; // Standard value of the clearfix
  }
}

@mixin absCenter {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
