.heading-primary {
  backface-visibility: hidden; // Animations sometimes "shake" and this hack fixes that
  color: $white;
  margin-bottom: 6rem;
  text-transform: uppercase;
}

.heading-primary--main {
  animation-duration: .7s;
  // animation-iteration-count: infinite;
  animation-name: moveInLeft;
  animation-timing-function: ease-out;
  display: block; // block elements each occupy all the available width & create line breaks after and before them
  font-size: $font-size-xxl;
  font-weight: 400;
  letter-spacing: 3rem;

  @include respond(phone) {
    font-size: 4.5rem;
    letter-spacing: 1rem;
  }
}

.heading-primary--sub {
  animation: moveInRight 1s ease-out;
  display: block;
  font-size: $font-size-l;
  font-weight: 700;
  letter-spacing: 1.7rem;

  @include respond(phone) {
    font-size: $font-size-m;
    letter-spacing: .5rem;
  }
}

.heading-secondary {
  color: $medium-green;
  display: inline-block;
  font-size: $font-size-xl;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  transition: all .2s;

  &:hover {
    text-shadow: .5rem 1rem 2rem rgba($green-shadow, .2);
    transform: skewY(2deg) skewX(15deg) scale(1.1);
  }

  @supports (-webkit-background-clip: text) {
    -webkit-background-clip: text; // Clips the background to exactly the places where the text sits
    background-image: linear-gradient($light-green, $dark-green);
    color: transparent; // Change the text to transparent too
  }

  @include respond(tab-port) {
    font-size: 3rem;
  }
}

.heading-tertiary {
  font-size: $font-size-m;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  &:not(:last-child) {
    margin-bottom: $spacing-s;
  }
}
