.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-xs {
  margin-bottom: $spacing-xs !important;
}

.u-margin-bottom-s {
  margin-bottom: $spacing-s !important;
}

.u-margin-bottom-m {
  margin-bottom: $spacing-m !important;
}

.u-content-container {
  margin: 0 auto;
  padding: 0 $spacing-s !important;
}
