.u-center-text {
  text-align: center;
}

.u-margin-bottom-s {
  margin-bottom: $spacing-xs;
}

.u-margin-bottom-m {
  margin-bottom: $spacing-m;
}

.u-content-container {
  margin: 0 auto;
  padding: 0 $spacing-s;
}
